#showcase__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  align-items: center;
  padding: 25px;
}

.showcase-image {
  width: auto;
  height: auto;
  margin: -50px 0;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 3%;
  margin-bottom: 6px;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 16px;
  line-height: 61px;
}

.title span {
  display: block;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  max-width: 450px;
  margin-bottom: 60px;
}

.textgroup-buttons {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 8px 32px;
  text-decoration: none;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-now {
  background: var(--green);
}

.button img {
  margin-right: 16px;
}

.trailer {
  display: none;
}